.page {
    display: flex;
    height: 100vh;
}

.page .description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white-100);
}

.page .description header {
    display: flex;
    flex-direction: column;
}

.page .description p {
    font-size: var(--font-medium);
    font-weight: 600;
    color: var(--black);
    text-align: center;
}